@import url("https://fonts.googleapis.com/css?family=Roboto");

.flex-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    padding: 20px;
    font-family: "Roboto", sans-serif;
}

.track-form {
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 3em;
}

.track-form label {
    margin-top: 7px;
    vertical-align: middle;
}

.track-form input {
    width: 20%;
    margin: 0 10px;
    font-size: 20px;
    vertical-align: middle;
}

.track-form button {
    padding: 7px 10px;
    border: 1px solid #393636;
    border-radius: 5px;
}

.track-list {
    margin: 20px 0;
}

.track-list-item {
    min-width: 100px;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #393636;
    border-radius: 20px;
    /* background-color: #fff;*/
    text-align: flex-start;
    cursor: pointer;
}

.track-list-item :first-child {
    margin-left: 0;
}

.track-list-item :last-child {
    margin-right: 0;
}

.track-list-item > h3 {
    font-weight: normal;
}

.top-track {
    box-sizing: border-box;
    padding: 20px;
    padding-top: 0;
    border: 1px solid #393636;
    border-radius: 20px;
    /* background-color: #fff;*/
}

.details {
    justify-content: flex-start;
}
.details > div {
    padding-left: 20px;
}

.details > div :first-child {
    padding-left: 0;
}

.track-item {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.track p {
    margin: 0;
}

.track img {
    vertical-align: left;
}

#topTrack {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: flex-start;
    margin-top: 20px;
    min-width: 100px;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #393636;
    border-radius: 20px;
    /* background-color: #fff;*/
    text-align: flex-start;
    cursor: pointer;
}

.track-title {
    font-size: 1.25rem;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
}
.track-list-item {
    border: 1px solid #746e6e78;
    border-radius: 20px;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    list-style: none;
}
.track-list-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}
